<form [formGroup]="formOfCourse" novalidate>
    <div class="form-group">
        <label class="float-left">Course name:</label>
        <input formControlName="courseName" placeholder="Enter the name of course" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label class="float-left">ECTS:</label>
        <input formControlName="ects" type="range" class="form-control custom-range" min="0" max="15" step="1">
    </div>
    <div class="form-group">
        <label class="float-left">Semester:</label>
        <input formControlName="semester" placeholder="Enter the semester" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label>Max number of students:</label>
        <input formControlName="maxNumberOfStudent" placeholder="Max Students" class="form-control" type="number">
    </div>
    <div class="form-group">
        <label>Form of the course:</label>
        <select formControlName="courseForm" class="form-control">
                <option value="">Select form of the course:</option>
                <option *ngFor="let courseType of courseTypes">{{courseType}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="float-left">Description</label>
        <textarea formControlName="description" class="form-control" placeholder="Opis Kursu" ref-textarea rows="4" cols="20"></textarea>
    </div>
    <div class="form-group">
        <label class="float-left">Logo's URL</label>
        <input formControlName="logoPath" placeholder="Path the url of logo" type="text">
    </div>
</form>
<!-- <div class="submit">
        <hr>
        <a  class="btn btn-secondary text-white" (click)="addCourse()">Save</a>
        <div class="error" *ngIf="err">
                Wypałnij formularz poprawnie!
        </div>
        <div class="good" *ngIf="good && param1 === null">
                Dodano kurs.
        </div>
        <div class="good" *ngIf="good && param1">
                Dodano zmiany.
        </div>
</div> -->