<div class="p-5 text-center">
        <h1>WIKI kierunku Informatyka</h1>
        <p>Zobacz jakie kursy dla Ciebie przygotowaliśmy!</p>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/course-list-filter" >WIKI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item dropdown" *ngIf="this.userService.isAdmin()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/add-course" >Another action</a>
            <a class="dropdown-item" routerLink="/remove-course" >Delete Course</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="displayLogin">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" >Sign-in/up</a>
        </li>
        <li class="nav-item" *ngIf="!displayLogin">
          <a class="nav-link">{{userName}}</a>
        </li>
        <li class="nav-item" *ngIf="!displayLogin">
          <a class="nav-link" routerLink="/login" (click)="logout()" >Logout</a>
        </li>
      </ul>
    </div>
  </nav>