<div class="p-5 text-center">
        <h1>WIKI kierunku Informatyka</h1>
        <p>Zobacz jakie kursy dla Ciebie przygotowaliśmy!</p>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
        <!-- <a class="navbar-brand">
                <img src="assets/images/logo.svg" style="height: 50px;"/>
        </a> -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <!-- should tranfer to the beggining of the page -->
                <a class="nav-link">WIKI</a>
            </li>
            <li class="nav-item dropdown order-1">
                <button type="button" id="dropdownMenuAddCourse" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Dodaj kurs<span class="caret"></span></button>
                <ul class="dropdown-menu mt-2 dropdown-add">
                        <app-add-new-course></app-add-new-course>
                <!-- <li class="px-3 py-2">
                    <app-add-course></app-add-course>
                </li> -->
                </ul>
            </li>
            <li class="nav-item dropdown order-1">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Filtruj<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu mt-2 dropdown-add">
                    
                    <!-- <li class="px-2 py-2">
                        <h3>filter</h3>
                    <app-filter-course></app-filter-course>
                    </li> -->
                </ul>
            </li>
        </ul>
    </div>
</nav>