<!-- Card -->
<div class="card  text-center">

  <!-- Card image -->
  <div class="view overlay">
    <img src="{{course.logoPath}}" class="img-responsive" width="200" alt="Card image cap"/>
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">{{course.courseName}}</h4>
        
    <!-- Buttons -->
    <button class="btn btn-primary m-2" (click)="showDetails()">More</button>
  </div>
</div>
<!-- Card -->